<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="content">
        <!-- <button v-on:click="clickbutfun()">提交</button> -->
        <button @click="clickbutfun()">提交</button>

        <ul>
            <!-- <li v-for="item in lists">{{item}}</li> -->
            <ul-item v-bind:iteminfo="item" v-for="item in lists">
            </ul-item>
        </ul>
    </div>
    <script>
        //创建一个全局的Vue组件
        Vue.component("UlItem",{
            props:['iteminfo'],
            template:"<li>{{iteminfo}}</li>"
        })
       var app = new Vue({
           el: '#app',
           data: {
               lists : [],
               content : ''
           },
           methods:{
               clickbutfun:function(){
                //    app.$data.lists.push(app.$data.content)
                //    app.$data.content = ''
                this.lists.push(this.content) ;
                this.content = ''
               }
           }
       })
    </script>
</body>
</html>