<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>study commponts</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
    <div id="root">
        <input type="text" v-model="content">
        <button @click="handleOnClick">todolist</button>
        <ul>
            <todo-item v-bind:iteminfo="item" v-for="item in items"></todo-item>
        </ul>
    </div>
    <script>
        var TodoItem = {
            props : ['iteminfo'],
            template : "<li>{{iteminfo}}</li>"
        }
        var root = new Vue({
            el : "#root",
            components : {
                TodoItem : TodoItem
            },
            data : {
                content : '',
                items : []
            },
            methods : {
                handleOnClick : function() {
                    this.items.push(this.content)
                    this.content = ''
                }
            }
        })
    </script>
</body>
</html>